<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>Library</title>
    </head>
    <body>
        <div class="container">
            <h1 class="jumbotron">Welcome to the Library!</h1>
            <div class="row">
                <div class="col-sm-12">
                    <form action="/search" method="get">
                        <label for="search">Search:</label>
                        <input type="text" name="search" class="form-control" placeholder="search library"><br>

                        <div id="search_button">
                            <button type="submit" class="btn btn-xs">Search</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <form method="post" action="/">
                        <div class="form-group">
                            <label><strong>Enter Book</strong></label><br>

                            <label for="title">Title:</label>
                            <input type="text" name="title" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="genre">Genre:</label>
                            <input type="text" name="genre" class="form-control" required>
                        </div>

                        <label><strong>Enter Author</strong></label><br>

                        <div class="form-group">
                            <label for="first_name">First Name:</label>
                            <input type="text" name="first_name" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="last_name">Last Name:</label>
                            <input type="text" name="last_name" class="form-control" required>
                        </div>

                        <div id="add_book">
                            <button type="sumbit" class="btn btn-xs">Add Book</button><br><br>
                        </div>
                    </form>
                </div>

                <div class="col-sm-4">
                    <label><strong>Books Database</strong></label>

                    {% if books is not empty %}
                        {% for book in books %}
                            <ul>
                                <li>Title: {{ book.getTitle }}</li>
                                    <ul>
                                        <li>Genre: {{ book.getGenre }}</li>
                                    </ul>
                            </ul>
                        {% endfor %}

                        <div id="delete_books">
                            <form action="/delete_books" method="post" class="form-group">
                                <input name="_method" type="hidden" value="delete">
                                <button type="submit" class="btn btn-warning btn-xs">DELETE BOOKS</button>
                            </form>
                        </div>
                    {% endif %}
                </div>

                <div class="col-sm-4">
                    <label><strong>Authors Database</strong></label>

                    {% if authors is not empty %}
                        {% for author in authors %}
                            <ul>
                                <li>Name: {{ author.getFirstName }} {{ author.getLastName }}</li>
                            </ul>
                        {% endfor %}

                        <div id="delete_authors">
                            <form action="/delete_authors" method="post" class="form-group">
                                <input name="_method" type="hidden" value="delete">
                                <button type="submit" class="btn btn-warning btn-xs">DELETE AUTHORS</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <form action='/' method='post' id='delete_all'>
                        <input name="_method" type="hidden" value="delete">
                        <button type="submit" class="btn btn-danger btn-xs">Delete All!</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
