<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <title>Library</title>
    </head>
    <body>
        <h1 class="jumbotron">Welcome to the Library!</h1>
    </body>
</html>
